
.jumping{
  background: url(images/strawberries.png);
}
.bar{
  height:55px;
  width:auto;
  background:;
}

nav{
  background-color: #522F55;
}

.navbar .navbar-nav{

}

.navbar .navbar-nav .nav-link{
  font-size: 1.8rem;

}

html{
  margin: auto;
  padding: auto;
  font-size: 10px;
}
