@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap')

.bg-light{
  color:#FFFFFF;
}

#brand:hover{
  animation: brand 1.5s 2 alternate forwards;
}

@keyframes brand{
 0%{
   transform:rotateZ(0deg);
 }
 100%{
   transform:rotateZ(-25deg);
 }
 transition-timing-function: ease-in-ease-out;
}

footer{
  background-color: #88AEC2;
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
  height: 100%;
  animation: footer-color 5s infinite alternate;
}

footer h4{
  font-size: 2.5rem;
   color: #FFFFFF;
   font-weight: var(--weight-semibold);
   font-family: sans-serif;
}

footer h3{
  font-size: 3.8rem;
 color: #FFFFFF;
 letter-spacing: 2%;
}

footer p{
 color: #FFFFFF;
 font-size: 1.8rem;
 font-family: sans-serif;
}


footer img{
  transform: translate( 10%);
}


@keyframes footer-color{
  from{
    background-color: #88AEC2;
  }
  to{
    background-color: #527C92;
  }
   transition-timing-function: ease-in-ease-out;
}

#fruit{
  background-color: #E8E3E9;
  background-size: cover;
  overflow: hidden;

}

#fruit h2{
  color:#222558;
  font-size: 4.5rem;
  line-height: 5.75rem;
}

#fruit p{
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 3.7rem;
  font-weight: var(--weight-medium);
  color:#222558;

}

#fruit strong{
  text-decoration: underline;
  color: #961E36;
  font-weight: var(--weight-bold);
}

#fruit img{
   transform: translateX(5%);
}

#fruitimg:hover{
  animation: bowlhover 3.5s 3 alternate forwards;
}

@keyframes bowlhover {
  0%{
    transform:rotateZ(0deg);
  }
  100%{
    transform:rotateZ(20deg);
  }
  transition-timing-funtion: ease-in-ease-out;
}

html{
  margin: auto;
  padding: auto;
  font-size: 10px;
  margin-bottom:0px;
}

#jump{
animation: jump 2.5s 1 forwards;
animation-delay: 0.5s;
position: relative;
}

@keyframes jump {
  0%{
    left: 0px;
    top: -50px;
  }
  100%{
    left: 100px;
    top: 50px;
  }
  transition-delay: 2s;
transition-timing-function: ease-in;
}

.jumping{
  background: url(images/strawberries.png);
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height:750px;
  background-size: cover;
  overflow: hidden;
}

.jumping h1{
  color: var(--white);
  font-size: 6.6rem;
  line-height: 6.7rem;
    text-shadow: 4px 2px 6px #222558;
}

.jumping img{
max-width: 90%;
max-height: 90%;
position:relative;
}

.jumping .lead{
  color: var(--white);
  font-size: 4.0rem;
  font-weight: var(--weight-bold);
    text-shadow: 2px 0 3px #222558;
    font-family: sans-serif;
}

#menu{
  background: url(images/wood.png);
  background-blend-mode: overlay;
  background-color: #FFE3E9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#menu h3{
  color:#222558;
  font-size: 4.5rem;
  line-height: 5.75rem;
  text-align: center;
}

#menu h4{
  font-size: 3.4rem;
  color:#961E36;
}

#menu h5{
 font-size: 2.4rem;
 color:#222558;
}

#menu p{
  font-size: 1.8rem;
  line-height: 2.35rem;
    color:#222558;
    font-family: sans-serif;
}

#menu li{
  list-style:none;
}

#menu li:hover{
  animation: li 0.5s 1 forwards;
}

@keyframes li{
  0%{
      border-left: 0px solid;

    border-left-color: #961E36;
  }
  100%{
    border-left: 6px solid;
      border-top-left-radius: 1px;
      border-spacing: 5px 0px 5px;
  border-left-color: #961E36;
}
 transition-timing-function:: ease-in;
}

nav{
  background-color: #522F55;
}

.nav{
  text-align: right;

}

.navbar{
  background-color: #222558;
}

.navbar .navbar-nav .nav-link{
  font-size: 1.8rem;
}

.nav-item{
  font-family: sans-serif;
  font-size: 2.1rem;
}

#photo{
    background-color: #5C1826;
}

#photo-slide{
  overflow: hidden;
}

#photo-slide{
  transform: translate(-250px);
  position:static;

}
#photo-slide:hover{
  animation: smoothie-slide 3s 1 forwards;
}

#photo-slide img{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@keyframes smoothie-slide {
  0%{
  transform: translate(-250px);
  }
  100%{
    transform: translate(250px);
  }
}

section{
  height: 55px;
  width:auto;
background-color: #DC7F92;
animation: mymove 4s infinite alternate;
}

@keyframes mymove{
  from {background-color: #DC7F92}
  to {background-color: #961E36}
  transition-timing-funtion: ease-in-ease-out;
}
